*.gct
*.tsv
*.csv
*.png
*.hdf5
*.h5
*.joblib
HiSeqV2
Data/**/*.txt
!Data/TCGA/.gitkeep
!Data/CCLE/.gitkeep
!Data/GDSC/.gitkeep
!Output/0/.gitkeep
Figure/**/*.txt
Figure/**/*.pdf
Figure/**/*.Rdata
nohup.out